@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing:border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background: #1B1E1E;
    background-image: linear-gradient(179.54deg, rgb(27,30,30) 13.81%, rgb(27,30,30) 63.85% , rgb(136, 52, 150) 113.61%);
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1.5px;
}

.contenedor{
    margin: auto;
}

/*------------------------Estilos del header------------------------*/

.header{
    height: 60px;
    background: #212429;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.icon-menu{
    margin: 5px;
    color: #fff;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 46px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 7px;
    color: rgb(63, 105, 255);
    cursor: pointer;

}

/*------------------------Estilos del menu------------------------*/

.nav{
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    transition: all 0.3s;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    background:#212429;
}

.menu__link{
    display: block;
    padding: 13px;
    background: #212429;
    text-decoration: none;
    color: white;
}

.menu__link:hover{
    cursor: pointer;
    color: white;
    transition:all 0.2s ;
}

.mostrar{
   left: 0;
}

#btn-ocultar{
    text-align: right;
    font-size: 30px;
    color: rgb(63, 105, 255);
    cursor: pointer;
    border-bottom: 2px solid  #1B1E1E;
}

/*------------------------Estilos del banner------------------------*/
.banner{
    margin-top: 60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner__img{
    background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
    height: 50%;
    width: 100%;
}

.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.usuario__img{
    width: 23%;
    height: 23%;
    border-radius: 50%;
    margin: auto;
    border: 1px solid rgb(63, 105, 255);
}
.banner__titulo{
    margin-bottom: 0;  
    font-size: 35px;
}
.banner__txt{
    margin-top: 0;
    font-size: 15px;
}

/*------------------------Estilos sobre mi------------------------*/
.info__titulo{
    font-size: 25px;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #EF0070;
    padding: 10px;

}
.info{
    margin-top: 50px;
}

.info__columna{
    background: #212429;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
     font-family: 'Rubik', sans-serif;

}

.info__txt{
    font-size: 20px;
    margin-bottom: 35px;
}


.btn__descargar{
    padding: 10px;
    text-decoration: none;
    color: white;
    background: #3256D5;
    border-radius: 0.9vh;
}

.btn__descargar:hover{
    background: #143DCF;
    transition: all 0.8s;
}


.info__img:hover{
    background-size: 150%;
}

.img__box{
    position: relative;
    margin: auto;
    overflow: hidden;
}

.info__img{
    max-width: 100%;
    transition: all 0.9s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.img__box:hover img {
    transform: scale(1.1);
}

.btn__ver{
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.proyectos{
    margin-left: 18px;
    margin-right: 18px;
}

/*------------------------Contacto------------------------*/
.social [class^="icon-"]{
    display: inline-block;
    color: #1B1E1E;
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    background: transparent;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 35px;
}


.social {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.main{
    margin-bottom: 35px;
}

/*------------------------Footer------------------------*/
.footer{
    background: #212429;;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.contador{
    margin: auto;
}

@media(min-width:480px){
    
}


/*Pc escritorio*/
@media(min-width:1024px){

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor{
        width: 900px;
    }

    .banner .contenedor{
       top: 35%;
       
    }

    .nav{
        position: static;
        width: auto;
        margin: auto;
    }

    .menu{
        display: flex;
        height: auto;
    }

    .icon-menu,#btn-ocultar{
        display: none;
    }

    .menu__link{
        background: none;
    }

    .usuario__img{
        border: 5px solid rgb(63, 105, 255);
    }

    .banner__titulo{
        font-size: 50px;
    }
    .banner__txt{
        font-size: 25px;
    }

    .inf__cards{
        display: flex;
        justify-content: space-between;
        margin: 40px 0 0 0;
        flex-wrap: wrap;
    }

    .info__columna__card{
        width: 49%;
        display: flex;
        
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}