@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing:border-box;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1.5px;
}

.contenedor{
    margin: auto;
}

/*------------------------Estilos del header------------------------*/

.header{
    height: 60px;
    background: #212429;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.icon-menu{
    margin: 5px;
    color: #fff;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 46px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 7px;
    color: rgb(63, 105, 255);
    cursor: pointer;

}

/*------------------------Estilos del menu------------------------*/

.nav{
    position: absolute;
    top: 0px;
    right: -100%;
    width: 100%;
    transition: all 0.3s;
    font-family: 'Rubik', sans-serif;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link{
    display: block;
    padding: 13px;
    background: #212429;
    text-decoration: none;
    color: white;
}

.menu__link:hover{
    cursor: pointer;
    color:rgb(63, 105, 255);
    transition:all 0.2s ;
}


.mostrar{
   right: 0;
}

#btn-ocultar{
    text-align: right;
    font-size: 30px;
    color: rgb(63, 105, 255);
    cursor: pointer;
    border-bottom: 2px solid  #1B1E1E;
}



/*Pc escritorio*/
@media(min-width:1024px){

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor{
        width: 900px;
        vertical-align: middle;
    }

    .nav{
        position: static;
        width: auto;
        margin: auto;
    }

    .menu{
        display: flex;
    }

    .icon-menu,#btn-ocultar{
        display: none;
    }

    .menu__link{
        background: none;
    }

    
}